{
  "openapi": "3.1.0",
  "info": {
    "title": "Tokenization Service API",
    "version": "1.0.0",
    "description": "REST API for the Tokenization Service — a platform for submitting, evaluating, and tokenizing real-world assets (RWA) on the Bitcoin Liquid Network.\n\n## Authentication\nAll protected endpoints require a Bearer JWT token obtained from the Auth service.\n\n## Asset Lifecycle\n1. **Submit** an asset with metadata and supporting documents.\n2. **Evaluate** the asset via AI-powered analysis.\n3. **Tokenize** approved assets into tradable Liquid Network tokens.",
    "contact": {
      "name": "Tokenization Ecosystem Team",
      "email": "api@tokenization-ecosystem.com",
      "url": "https://docs.tokenization-ecosystem.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://tokenization-ecosystem.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.tokenization-ecosystem.com",
      "description": "Production"
    },
    {
      "url": "https://staging-api.tokenization-ecosystem.com",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Observability",
      "description": "Health checks, readiness probes, and Prometheus metrics"
    },
    {
      "name": "Assets",
      "description": "Submit, query, and manage real-world asset records"
    },
    {
      "name": "Evaluation",
      "description": "Request AI-powered asset evaluation and scoring"
    },
    {
      "name": "Tokenization",
      "description": "Convert approved assets into Liquid Network tokens"
    },
    {
      "name": "Documents",
      "description": "Upload and download asset supporting documents"
    }
  ],
  "paths": {
    "/metrics": {
      "get": {
        "tags": [
          "Observability"
        ],
        "summary": "Get Metrics",
        "operationId": "get_metrics_metrics_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Observability"],
        "summary": "Health Check",
        "description": "Returns the service health status. Used by load balancers and orchestrators.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": ["Observability"],
        "summary": "Readiness Probe",
        "description": "Indicates whether the service is ready to accept traffic. Returns 200 when all dependencies are connected.",
        "operationId": "ready_ready_get",
        "responses": {
          "200": {
            "description": "Service is ready to accept requests",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/liquid/info": {
      "get": {
        "tags": ["Observability"],
        "summary": "Liquid Network Info",
        "description": "Returns current Liquid Network node information including block height, network type, and connectivity status.",
        "operationId": "liquid_info_liquid_info_get",
        "responses": {
          "200": {
            "description": "Liquid Network node information",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/liquid/issuances": {
      "get": {
        "tags": ["Tokenization"],
        "summary": "List Liquid Issuances",
        "description": "Returns all token issuances performed on the Liquid Network by this service.",
        "operationId": "liquid_issuances_liquid_issuances_get",
        "responses": {
          "200": {
            "description": "List of all Liquid Network token issuances",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/assets": {
      "post": {
        "tags": ["Assets"],
        "summary": "Submit an asset for review",
        "description": "Creates a new asset record with metadata and a link to supporting documents. The asset enters `pending` status and awaits evaluation.",
        "operationId": "submit_asset_assets_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Assets"],
        "summary": "List assets",
        "description": "Returns a paginated, filterable catalog of assets. Supports cursor-based pagination and filtering by status and category.",
        "operationId": "get_assets_assets_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "pending",
                    "evaluating",
                    "approved",
                    "rejected",
                    "tokenized"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "real_estate",
                    "commodity",
                    "invoice",
                    "art",
                    "other"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets/upload": {
      "post": {
        "tags": ["Documents"],
        "summary": "Submit asset with PDF upload",
        "description": "Creates a new asset record and uploads a PDF document in a single multipart request. The document is stored and linked to the asset.",
        "operationId": "submit_asset_with_document_assets_upload_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_submit_asset_with_document_assets_upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/evaluate": {
      "post": {
        "tags": ["Evaluation"],
        "summary": "Request AI evaluation",
        "description": "Triggers an asynchronous AI evaluation for the specified asset. The AI engine analyzes the asset metadata and documents to produce a risk score, ROI projection, and detailed analysis report.",
        "operationId": "request_asset_evaluation_assets__asset_id__evaluate_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Asset Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEvaluationRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/tokenize": {
      "post": {
        "tags": ["Tokenization"],
        "summary": "Tokenize an approved asset",
        "description": "Issues a Liquid Network token representing fractional ownership of the approved asset. Requires the asset to be in `approved` status. Sets supply, unit price, and visibility.",
        "operationId": "tokenize_asset_assets__asset_id__tokenize_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Asset Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTokenizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/document": {
      "get": {
        "tags": ["Documents"],
        "summary": "Download asset document",
        "description": "Returns the PDF document associated with the asset. The response is the raw file bytes with appropriate content-type headers.",
        "operationId": "download_asset_document_assets__asset_id__document_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Asset Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}": {
      "get": {
        "tags": ["Assets"],
        "summary": "Get asset details",
        "description": "Returns full asset information including AI evaluation results (score, analysis, projected ROI) and tokenization details (Liquid asset ID, supply, pricing).",
        "operationId": "get_asset_assets__asset_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Asset Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AssetCreateRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Name"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "title": "Description"
          },
          "category": {
            "type": "string",
            "enum": [
              "real_estate",
              "commodity",
              "invoice",
              "art",
              "other"
            ],
            "title": "Category"
          },
          "valuation_sat": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Valuation Sat"
          },
          "documents_url": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Documents Url"
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "category",
          "valuation_sat",
          "documents_url"
        ],
        "title": "AssetCreateRequest"
      },
      "AssetDetailOut": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "owner_id": {
            "type": "string",
            "title": "Owner Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "category": {
            "type": "string",
            "enum": [
              "real_estate",
              "commodity",
              "invoice",
              "art",
              "other"
            ],
            "title": "Category"
          },
          "valuation_sat": {
            "type": "integer",
            "title": "Valuation Sat"
          },
          "documents_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Documents Url"
          },
          "document": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AssetDocumentOut"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "evaluating",
              "approved",
              "rejected",
              "tokenized"
            ],
            "title": "Status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "ai_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ai Score"
          },
          "ai_analysis": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ai Analysis"
          },
          "projected_roi": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Projected Roi"
          },
          "token": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AssetTokenOut"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "owner_id",
          "name",
          "description",
          "category",
          "valuation_sat",
          "documents_url",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "AssetDetailOut"
      },
      "AssetDetailResponse": {
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/AssetDetailOut"
          }
        },
        "type": "object",
        "required": [
          "asset"
        ],
        "title": "AssetDetailResponse"
      },
      "AssetDocumentOut": {
        "properties": {
          "storage_key": {
            "type": "string",
            "title": "Storage Key"
          },
          "filename": {
            "type": "string",
            "title": "Filename"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type"
          },
          "size_bytes": {
            "type": "integer",
            "title": "Size Bytes"
          }
        },
        "type": "object",
        "required": [
          "storage_key",
          "filename",
          "content_type",
          "size_bytes"
        ],
        "title": "AssetDocumentOut"
      },
      "AssetEvaluationRequestResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          },
          "estimated_completion": {
            "type": "string",
            "format": "date-time",
            "title": "Estimated Completion"
          }
        },
        "type": "object",
        "required": [
          "message",
          "estimated_completion"
        ],
        "title": "AssetEvaluationRequestResponse"
      },
      "AssetListResponse": {
        "properties": {
          "assets": {
            "items": {
              "$ref": "#/components/schemas/AssetOut"
            },
            "type": "array",
            "title": "Assets"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          }
        },
        "type": "object",
        "required": [
          "assets",
          "next_cursor"
        ],
        "title": "AssetListResponse"
      },
      "AssetOut": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "owner_id": {
            "type": "string",
            "title": "Owner Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "category": {
            "type": "string",
            "enum": [
              "real_estate",
              "commodity",
              "invoice",
              "art",
              "other"
            ],
            "title": "Category"
          },
          "valuation_sat": {
            "type": "integer",
            "title": "Valuation Sat"
          },
          "documents_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Documents Url"
          },
          "document": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AssetDocumentOut"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "evaluating",
              "approved",
              "rejected",
              "tokenized"
            ],
            "title": "Status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "owner_id",
          "name",
          "description",
          "category",
          "valuation_sat",
          "documents_url",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "AssetOut"
      },
      "AssetResponse": {
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/AssetOut"
          }
        },
        "type": "object",
        "required": [
          "asset"
        ],
        "title": "AssetResponse"
      },
      "AssetTokenOut": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "liquid_asset_id": {
            "type": "string",
            "title": "Liquid Asset Id"
          },
          "total_supply": {
            "type": "integer",
            "title": "Total Supply"
          },
          "circulating_supply": {
            "type": "integer",
            "title": "Circulating Supply"
          },
          "unit_price_sat": {
            "type": "integer",
            "title": "Unit Price Sat"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "title": "Visibility"
          },
          "issuance_metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Issuance Metadata"
          },
          "minted_at": {
            "type": "string",
            "format": "date-time",
            "title": "Minted At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "liquid_asset_id",
          "total_supply",
          "circulating_supply",
          "unit_price_sat",
          "visibility",
          "minted_at"
        ],
        "title": "AssetTokenOut"
      },
      "AssetTokenizationRequest": {
        "properties": {
          "liquid_asset_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Liquid Asset Id"
          },
          "taproot_asset_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Taproot Asset Id"
          },
          "total_supply": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Total Supply"
          },
          "unit_price_sat": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Unit Price Sat"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "title": "Visibility",
            "default": "public"
          }
        },
        "type": "object",
        "required": [
          "total_supply",
          "unit_price_sat"
        ],
        "title": "AssetTokenizationRequest"
      },
      "Body_submit_asset_with_document_assets_upload_post": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "category": {
            "type": "string",
            "enum": [
              "real_estate",
              "commodity",
              "invoice",
              "art",
              "other"
            ],
            "title": "Category"
          },
          "valuation_sat": {
            "type": "integer",
            "exclusiveMinimum": 0.0,
            "title": "Valuation Sat"
          },
          "document": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "Document"
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "category",
          "valuation_sat",
          "document"
        ],
        "title": "Body_submit_asset_with_document_assets_upload_post"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the Auth service `/auth/login` endpoint."
      }
    }
  }
}
